#route-list {
  background-color: rgb(22, 22, 22);
  flex: 0 1 auto;
  overflow: auto;
  height: 100%;
}

.route-element {
  /*font-family: 'Verdana', 'Helvetica', sans-serif;*/
  color: #ddd;
  border-bottom: 1px rgb(44,44,44) solid;
}

.delete-button {
  position: absolute;
  right: 0;
  top: 0;
  top: 50%;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  padding: 0;
  border: 0px;
  background-color: inherit;
  color: rgb(66, 66, 66);
  font-size: 17px;
  cursor: pointer;
}

.delete-button:hover {
  color: #ddd;
}

.collapsible-distance, .collapsible-airport, .sector-element, .total-distance, .non-stop-distance {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.sector-elements-wrapper {
  position: relative;
}

.sector-elements {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 24px;
  padding-left: 10px;
}

.airport-code {
  font-weight: bold;
}

.distance-number {
  float: right;
  font-weight: bold;
}

.total-distance {
  font-size: 12px;
  background-color: rgb(66,66,66);
}

.collapsible {
  font-size: 12px;
}

.collapsible-airport {
  background-color: rgb(44,44,44);
  font-weight: bold;
  padding: 6px;
}

.collapsible-name {
  font-style: italic;
}

.collapsible-distance {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(66,66,66);
}

.distance-label {
  color: #bbb;
}

.fa-arrow-down {
  font-size: 20px;
}
